.img:hover{
    transform: scale(1.07);
}

@media (max-width: 1000px) {
    .imgfooter {
        display: none;

    }
}

.tyc{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}